.results-container{
    margin-top: 40px;
}
.bar-container{
    height: 250px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(241, 241, 241);
    border-radius: 4px 4px 4px 4px;
    margin: auto;
    max-width: 105px;
}
.col-category{
    margin: 0 4px;
    padding: 0px;
    max-width: 105px;
}
.row{
    margin: auto;
}
.bar{
    border-radius: 4px 4px 4px 4px;
    width: 105px;
    background-color: #007bff;
}
.bar-health{
    border-radius: 4px 4px 0 0;
    width: 105px;
    background-color: #3d9bff;
}
.category-info{
    height: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 0.8rem;
    text-align: center;

}
.nav-icon{
    width: 30px;
    height: 30px;
}
.health-test-container{
    max-height: calc(100vh - 300px);
    overflow-y: scroll;
}
.action-category-container{
    min-width: 320px;
    max-width: 320px;
    border-radius: 6px;
    background-color: rgb(241, 241, 241);
    margin: 10px 10px;
    padding: 10px 10px;
    color: #0099CC;
}
.action{
    border-bottom: 1px solid #0099CC;
    margin-bottom: 10px;
}
.subaction{
    margin-bottom: 8px;
}
.tallest-bar{
    background-color: #28a745;
}
.tallest-bar-health{
    background-color: #4bc267;
}
.color-1{
    background-color: #0099CC;
}
.color-light-1{
    background-color: #33b5e5;
}
.color-2{
    background-color: #FF8800
}
.color-light-2{
    background-color: #ffbb33
}
.color-3{
    background-color: #CC0000
}
.color-light-3{
    background-color: #ff4444
}
.color-4{
    background-color: #9933CC
}
.color-light-4{
    background-color: #aa66cc
}