<button class="btn btn-white btn-sm" routerLink="/">
    <img class="nav-icon" src="../../assets/icons/home.svg" alt="#">
</button>

<button class="btn btn-white btn-sm" [disabled]="!this.resultsService.result" data-toggle="modal" data-target="#healthValues">
  <img class="nav-icon" src="../../assets/icons/settings.svg" alt="#">
</button>

<button class="btn btn-white btn-sm" [disabled]="!this.resultsService.result" data-toggle="modal" data-target="#exampleModalCenter">
    <img class="nav-icon" src="../../assets/icons/save.svg" alt="#">
</button>

<!-- Save file Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Lagre test</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form class="form-inline">
                <div class="form-group">
                    <label for="inputID">ID</label>
                    <input type="text" [placeholder]="inputID" (input)="inputID = $event.target.value" id="inputID" class="form-control mx-sm-3" aria-describedby="inputID">
                </div>
            </form>

            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlInline" [checked]="saveReportFile" (change)="saveReportFile = !saveReportFile">
                <label class="custom-control-label" for="customControlInline">Lagre rapport</label>
            </div>
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlInline2" [checked]="saveTestFile" (change)="saveTestFile = !saveTestFile">
                <label class="custom-control-label" for="customControlInline2">Lagre test-fil</label>
            </div>
    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="saveFiles()">Lagre</button>
        </div>
        </div>
    </div>
</div> <!-- End of save file Modal -->

<!-- Edit health-values modal -->
<div class="modal fade" id="healthValues" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Administrer spørsmål</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
        
          <div class="form-group">
            <button 
              class="btn btn-outline-primary btn-block" 
              type="button" 
              data-toggle="collapse" 
              data-target="#collapseExample" 
              aria-expanded="false" 
              aria-controls="collapseExample"
              >
              Rediger helseverdier
            </button>
          </div>
  
          <div class="collapse" id="collapseExample">
  
            <div class="card card-body health-test-container">
              <div class="form-group" id="{{item.id}}" *ngFor="let item of this.healthTestsService.healthTests; index as i;">
                
                <h4>{{item.test}}</h4>
                <div class="custom-control custom-radio" *ngFor="let option of item.weights; index as j;">
                    <input [checked]="isRadioSelected(item.id,option.id)" (click)="radioSelected(item.id,option.id)" type="radio" id="{{''+item.id+option.id}}" name="{{item.id}}" class="custom-control-input">
                    <label class="custom-control-label" for="{{''+item.id+option.id}}">{{option.text}}</label>
                </div>
                
              </div>
            </div>
  
            <br>
            <div class="form-group">
              <button 
                class="btn btn-success btn-block" 
                type="button" 
                data-toggle="collapse" 
                data-target="#collapseExample" 
                aria-expanded="false" 
                aria-controls="collapseExample"
                (click)="saveHealthWeights()"
                >
                Lagre
              </button>
            </div>
  
          </div>
        
        </div>
  
      </div>
    </div>
  </div> <!-- End of edit health-values modal -->


<div class="results-container text-center" *ngIf="!this.resultsService.result"><h3>Ingen resultater, fullfør en test først</h3></div>
<div class="results-container"><div class="container" *ngIf="this.resultsService.result">
        
        <div class="row align-items-end">
            <div class="col align-self-end" *ngFor="let item of this.resultsService.categories; index as i;">

                <div class="bar-container">
                    <div class="bar-health" *ngIf="this.resultsService.highestCategory !== i"></div>
                    <div class="bar-health" *ngIf="this.resultsService.highestCategory === i" style="background-color: #51b969;"></div>
                    <div class="bar" *ngIf="this.resultsService.highestCategory !== i"></div>
                    <div class="bar" *ngIf="this.resultsService.highestCategory === i" style="background-color: #28a745;"></div>
                    <div class="category-text">
                        {{item}}
                        <br><h2>{{this.resultsService.totalResult[i]}}</h2>
                    </div>
                </div>

            </div>
        </div>
    
    </div>
</div>