.results-container{
    margin-top: calc(50vh - 215px);
}
.bar-container{
    height: 430px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.bar{
    border-radius: 4px 4px 4px 4px;
    width: 100%;
    max-width: 150px;
    background-color: #007bff;
}
.bar-health{
    border-radius: 4px 4px 0 0;
    width: 100%;
    max-width: 150px;
    background-color: #3d9bff;
}
.category-text{
    height: 130px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.nav-icon{
    width: 30px;
    height: 30px;
}
