
<button class="btn btn-white btn-sm" routerLink="/">
    <img id="home-icon" src="../../assets/icons/home.svg" alt="#">
</button>

<button class="btn btn-white btn-sm" [disabled]="!this.resultsService.result"  (click)="this.resultsService.saveReport()">
    <img id="home-icon" src="../../assets/icons/save.svg" alt="#">
</button>

<div class="results-container"><div class="container" *ngIf="this.resultsService.result">

        <div class="row align-items-end">
            <div class="col categories align-self-end" *ngFor="let item of this.resultsService.categories; index as i;">

                <div class="bar-container">
                    <div class="bar" *ngIf="this.resultsService.highestCategory !== i"></div>
                    <div class="bar" *ngIf="this.resultsService.highestCategory === i" style="background-color: #28a745;"></div>
                    <div class="category-text">
                        {{item}}
                        <br><h2>{{this.resultsService.result[i]}}</h2>
                    </div>
                </div>

            </div>
        </div>
    
    </div>
</div>