
<button type="button" routerLink="/" class="home btn btn-outline-primary btn-lg">
    Hjem
</button>
<button type="button" [disabled]="!this.resultsService.result" (click)="this.resultsService.saveReport()" class="btn btn-outline-primary btn-lg">
    Lagre resultat
</button>

<div class="results-container"><div class="container" *ngIf="this.resultsService.result">

        <div class="row align-items-end">
            <div class="col categories align-self-end" *ngFor="let item of this.resultsService.categories; index as i;">

                <div class="bar-container">
                    <div class="bar" *ngIf="this.resultsService.highestCategory !== i"></div>
                    <div class="bar" *ngIf="this.resultsService.highestCategory === i" style="background-color: #28a745;"></div>
                    <div class="category-text">
                        {{item}}
                        <br><h2>{{this.resultsService.result[i]}}</h2>
                    </div>
                </div>

                <!--
                <button type="button" *ngIf="this.resultsService.highestCategory !== i" class="btn result-button btn-outline-success btn-md">
                    {{item}}
                    <br><h2>{{this.resultsService.result[i]}}</h2>
                </button>

                <button type="button" *ngIf="this.resultsService.highestCategory === i" class="btn result-button btn-success btn-md">
                    {{item}}
                    <br><h2>{{this.resultsService.result[i]}}</h2>
                </button>
                -->
            </div>
        </div>
    
    </div>
</div>