<button class="btn btn-white btn-sm" routerLink="/" (click)="this.questionService.endSurvey()">
    <img class="nav-icon" src="../../assets/icons/home.svg" alt="#">
</button>

<div class="question-container" *ngIf="nextQuestion">
    
    <div class="container">
      <div class="row">
        <div class="container text-center text-primary h3">{{nextQuestion.group}}</div>
      </div>
      <br>
      <div class="row">
        <div class="container text-center h3">{{nextQuestion.question}}</div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-sm-auto alternative" *ngFor="let item of nextQuestion.alternatives">
          <button type="button" (click)="next(nextQuestion.id,item.id)" class="btn alternative-button btn-outline-primary btn-lg">
            {{item.text}}
          </button>
        </div>
      </div>
    </div>

</div>