<div class="question-container" *ngIf="nextQuestion">

    <div class="container">
      <div class="row">
        <div class="container h3" style="text-align: center;">{{nextQuestion.question}}</div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm" *ngFor="let item of nextQuestion.alternatives" style="text-align: center;">
          <button type="button" (click)="next(item.id)" class="btn btn-outline-primary btn-lg">{{item.text}}</button>
        </div>
      </div>
  
    </div>
</div>