.question-container{
    margin-top: 40vh;
    /* max-width: 100%; */
}
.row{
    margin-right: 0;
    margin-left: 0;
}
#home-icon{
    width: 30px;
    height: 30px;
}
.alternative{
    margin-bottom: 20px;
}
.alternative-button{
    height: 100%;
}
