
<button class="btn btn-white btn-sm" routerLink="/">
  <img class="nav-icon" src="../../assets/icons/home.svg" alt="#">
</button>

<div class="page">

  <!-- 
    
    CATEGORIES 

  -->
  <div class="data-container">
    <div class="item-container">
      Kategorier
      <button type="button" class="btn btn-white p0" (click)="data.categories.expanded=!data.categories.expanded">
        <i class="icon ion-md-menu"></i>
      </button>
    </div>
    <div class="data-container" *ngFor="let category of data.categories" [ngClass]="data.categories.expanded ? 'expanded' : 'closed'">
      <div class="item-container item-level-1">
        {{category}}
        <div>
          <button type="button" class="btn btn-white p0">
            <i class="icon ion-md-create"></i>
          </button>
          <button type="button" class="btn btn-white p0">
            <i class="icon ion-md-close"></i>
          </button>
        </div>
        
      </div>
      
    </div>
  
  </div>
  
  <!-- 
    
    QUESTIONS 
  
  -->
  <div class="data-container">

    <div class="item-container">
      Spørsmål
      <button type="button" class="btn btn-white p0" (click)="data.questions.expanded=!data.questions.expanded">
        <i class="icon ion-md-menu"></i>
      </button>
    </div>

    <div class="data-container" *ngFor="let question of data.questions" [ngClass]="data.questions.expanded ? 'expanded' : 'closed'">
      
      <div class="item-container item-level-1">
        {{question.question}}
        <div class="buttons-container">
          <button type="button" class="btn btn-white p0">
            <i class="icon ion-md-add"></i>
          </button>
          <button type="button" class="btn btn-white p0">
            <i class="icon ion-md-create"></i>
          </button>
          <button type="button" class="btn btn-white p0">
            <i class="icon ion-md-close"></i>
          </button>
          <button type="button" class="btn btn-white p0" (click)="question.expanded=!question.expanded">
            <i class="icon ion-md-menu"></i>
          </button>
        </div>
      </div>

      <div class="data-container" *ngFor="let alternative of question.alternatives" [ngClass]="question.expanded ? 'expanded' : 'closed'">
        
        <div class="item-container item-level-2">
          {{alternative.text}}
          <div>
            <button type="button" class="btn btn-white p0">
              <i class="icon ion-md-create"></i>
            </button>
            <button type="button" class="btn btn-white p0">
              <i class="icon ion-md-close"></i>
            </button>
            <button type="button" class="btn btn-white p0" (click)="alternative.expanded=!alternative.expanded">
              <i class="icon ion-md-menu"></i>
            </button>
          </div>
        </div>

        <div class="data-container" *ngFor="let weight of alternative.weights; index as i;" [ngClass]="alternative.expanded ? 'expanded' : 'closed'">
        
          <div class="item-container item-level-3">
              <div>{{data.categories[i]}}</div>
              <div>
                <div class="pr-3 d-inline">
                  <input (change)="editQuestionAlternativeWeight(question.id,alternative.id,i,$event.target.value)" style="width: 70px;" type="text" placeholder="{{weight}}">
                </div>
                <button type="button" class="btn btn-white p0">
                  <i class="icon ion-md-create"></i>
                </button>
              </div>
          </div>
          
        </div>
      </div>

    </div>
  
  </div>
  
  <!-- 
    
    HEALTH TESTS 
  
  -->
  <div class="data-container">
    <div class="item-container">
      Helsetester
      <button type="button" class="btn btn-white p0" (click)="data.tests.expanded=!data.tests.expanded">
        <i class="icon ion-md-menu"></i>
      </button>
    </div>
    <div class="data-container" *ngFor="let test of data.tests" [ngClass]="data.tests.expanded ? 'expanded' : 'closed'">
      <div class="item-container item-level-1">
          {{test.test}}
          <div class="buttons-container">
            <button type="button" class="btn btn-white p0">
              <i class="icon ion-md-add"></i>
            </button>
            <button type="button" class="btn btn-white p0">
              <i class="icon ion-md-create"></i>
            </button>
            <button type="button" class="btn btn-white p0">
              <i class="icon ion-md-close"></i>
            </button>
            <button type="button" class="btn btn-white p0" (click)="test.expanded=!test.expanded">
              <i class="icon ion-md-menu"></i>
            </button>
          </div>
        </div>
  
        <div class="data-container" *ngFor="let alternative of test.alternatives" [ngClass]="test.expanded ? 'expanded' : 'closed'">
          
          <div class="item-container item-level-2">
            {{alternative.text}}
            <div>
              <button type="button" class="btn btn-white p0">
                <i class="icon ion-md-create"></i>
              </button>
              <button type="button" class="btn btn-white p0">
                <i class="icon ion-md-close"></i>
              </button>
              <button type="button" class="btn btn-white p0" (click)="alternative.expanded=!alternative.expanded">
                <i class="icon ion-md-menu"></i>
              </button>
            </div>
          </div>
  
          <div class="data-container" *ngFor="let weight of alternative.weights; index as j;" [ngClass]="alternative.expanded ? 'expanded' : 'closed'">
          
            <div class="item-container item-level-3">
                <div>{{data.categories[j]}}</div>
                <div>
                  <div class="pr-3 d-inline">
                      <input (change)="editTestAlternativeWeight(test.id,alternative.id,j,$event.target.value)" style="width: 70px;" type="text" placeholder="{{weight}}">
                  </div>
                  <button type="button" class="btn btn-white p0">
                    <i class="icon ion-md-create"></i>
                  </button>
                </div>
            </div>
            
          </div>
        </div>
    
    </div>
  
  </div>
  
  <!-- 
    
    ACTIONS 
  
  -->
  <div class="data-container">

    <div class="item-container">
      Tiltak
      <button type="button" class="btn btn-white p0" (click)="data.actions.expanded=!data.actions.expanded">
        <i class="icon ion-md-menu"></i>
      </button>
    </div>

    <div class="data-container" *ngFor="let action of data.actions" [ngClass]="data.actions.expanded ? 'expanded' : 'closed'">
      
      <div class="item-container item-level-1">
        
        {{action.name}}
        <div class="buttons-container">
          <button type="button" class="btn btn-white p0">
            <i class="icon ion-md-add"></i>
          </button>
          <button type="button" class="btn btn-white p0">
            <i class="icon ion-md-create"></i>
          </button>
          <button type="button" class="btn btn-white p0">
            <i class="icon ion-md-close"></i>
          </button>
          <button type="button" class="btn btn-white p0" (click)="action.expanded=!action.expanded">
            <i class="icon ion-md-menu"></i>
          </button>
        </div>

      </div>

      <div class="data-container" *ngFor="let subaction of action.subactions" [ngClass]="action.expanded ? 'expanded' : 'closed'">
          <div class="item-container item-level-1">
        
              {{subaction.name}}
              <div class="buttons-container">
                <button type="button" class="btn btn-white p0">
                  <i class="icon ion-md-add"></i>
                </button>
                <button type="button" class="btn btn-white p0">
                  <i class="icon ion-md-create"></i>
                </button>
                <button type="button" class="btn btn-white p0">
                  <i class="icon ion-md-close"></i>
                </button>
                <button type="button" class="btn btn-white p0" (click)="subaction.expanded=!subaction.expanded">
                  <i class="icon ion-md-menu"></i>
                </button>
              </div>
      
            </div>
        
      </div>

    </div>
  
  </div>

</div>