
<!-- Button trigger modal -->
<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModal">
  <img id="settings-icon" src="../../assets/icons/settings.svg" alt="#">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Administrer spørsmål</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- MODAL CONTENT -->

      <div class="modal-body">
        
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" (change)="questionsFileAdded($event)">
            <label class="custom-file-label" for="customFile">{{this.questionsFileName}}</label>
          </div>
        </div>

        <div class="form-group">
          <a download="questions.json" target="_blank" href="../../assets/questions3.json">
            <button type="button" class="home btn btn-block btn-outline-primary">
                Last ned JSON-mal for spørsmål og vekter
            </button>
          </a>
        </div>

        <div class="form-group">
          <button 
            class="btn btn-outline-primary btn-block" 
            type="button" 
            data-toggle="collapse" 
            data-target="#collapseExample" 
            aria-expanded="false" 
            aria-controls="collapseExample"
            >
            Rediger helseverdier
          </button>
        </div>

        <div class="collapse" id="collapseExample">

          <div class="card card-body health-test-container">
            <div class="form-group" id="{{item.id}}" *ngFor="let item of healthTests; index as i;">
              
              <h3>{{item.test}}</h3>
              <div class="custom-control custom-radio" *ngFor="let option of item.weights; index as j;">
                  <input (click)="radioSelected(item.id,option.id)" type="radio" id="{{''+item.id+option.id}}" name="{{item.id}}" class="custom-control-input">
                  <label class="custom-control-label" for="{{''+item.id+option.id}}">{{option.text}}</label>
              </div>
              
            </div>
          </div>

          <br>
          <div class="form-group">
            <button 
              class="btn btn-success btn-block" 
              type="button" 
              data-toggle="collapse" 
              data-target="#collapseExample" 
              aria-expanded="false" 
              aria-controls="collapseExample"
              (click)="saveHealthWeights()"
              >
              Lagre
            </button>
          </div>

        </div>
      
      </div>

    </div>
  </div>
</div>




<div class="centered">
  <button type="button" *ngIf="hasQuestions" routerLink="/questions" class="btn btn-outline-primary btn-lg">
    Start test
  </button>
  <br><br>
  <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
    Last opp fullført test
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Last opp fullført test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="completedTestFile" (change)="completedTestFileAdded($event)">
            <label class="custom-file-label" for="completedTestFile">{{this.completedTestFileName}}</label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-primary" 
          routerLink="/complete" 
          data-dismiss="modal" 
          aria-label="Close"
          >
          Lagre endringer
        </button>
      </div>
    </div>
  </div>
</div>






<button type="button"  *ngIf="!hasQuestions" disabled class="centered btn btn-outline-primary btn-lg">
  Det er ingen tilgjengelige spørsmål
</button>

