.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#settings-icon{
    width: 30px;
    height: 30px;
}
a:hover{
    text-decoration: none;
}
.health-test-container{
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
}